{% extends "layout.twig" %}

{% block content %}
    <div class="title">
        <h2>{{ state }} posts</h2>
    </div>
    <div class="container grid-960">
        {% for post in posts %}
            <div class="card">
                <div class="lightgray">
                    <div class="card-header">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <h6 class="card-subtitle">Written by: {{ post.user.username }}</h6>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="card-body">
                    <p>{{ post.text | striptags | slice(0, 2) }}...</p>
                </div>
                <div class="card-footer">
                    <a href="/{{ state|lower }}-posts/{{ post.slug }}" class="btn">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}